<html>
    <head>
        <!-- loads the static & media files -->
        {% load static %}
        {% load cloudinary %}
    
        <!-- meta data -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is an ecommerce app for sporting related goods">
        <meta name="keywords" content="HTML, CSS, JavaScript, django, python, watch, sports, luxury watch, sporting watch, football, designer watch, designer watches, football, basketball, amarni, mens, womens, mens sports, womens sports">

        <!-- E-commerce -->
        <title> {% block title %}{% endblock%} | E-Store</title>

        <!-- Boostrap, Bulma and CSS links -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- Bulma navbar so the user can return home after signing up -->
       <nav class="navbar is-dark" id="navbarapp">
        <!-- Site Logo -->
            <div class="navbar-brand">
                <img src="{{ '/static/images/logo.png' }}" alt="logo" width="100" height="70" class="d-inline-block">
            </div>
            <!-- toggle menu -->
            <a @click="toggleMenu()" role="button" class="navbar-burger" :class="{ 'is-active': menuClass }" aria-label="menu" aria-expanded="false" data-target="options">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <!-- hamburger menu for smaller screens -->
            <div class="navbar-menu" :class="{ 'is-active': menuClass }">
            <div class="navbar-start">
                <!-- Home link-->
                <a class="navbar-item is-hoverable" href="{% url 'home' %}">
                    <i class="bi bi-house-door-fill d-inline-block"></i>
                    Home
                </a>
            </div>
       </nav>
       <br>
        <div class="container">
            <!-- user is notified if email is added -->
            <div class="col-12">
                {% if email %}
                <div class="text-center alert alert-dismissible fade show alert-success" role="alert">
                    <p>{{ email }} has been {{ action }} to the mailing list.</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="col-12">
                <h1>Subscribe To the E-Store Newsletter</h1>
            </div>
            <!-- newsletter sign up form -->
            {% if form %}
                <div class="col-12 col-md-4">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <br>
                        <button type="submit" class="button is-success">Subscribe!</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </body>
    <!-- link to Vue.JS script -->
    <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
    <!-- link to bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>