
<!-- Sets products out in responsive columns that span across multiple lines using Bulma -->
<div class="columns is-multiline is-mobile">
    {% for p in list_products %}
        <div class="column is-full-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
            <div class="card">
                <div class="card-image">
                    <!-- images are always  -->
                    <figure class="image is-4by3">
                        <img src="{{ p.get_thumbnail}}" alt="product image">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ p.title|title }}</p>
                            <p class="subtitle is-6">£{{ p.price|floatformat:2 }}</p>
                        </div>
                    </div>
                </div>

                <footer class="card-footer">
                    {% if user.is_superuser %}
                        <a href="{% url 'view_product' p.category.slug p.slug %}" class="button is-hoverable is-info is-responsive is-small is-rounded card-footer-item" style="margin-left: 10px;"><strong>View</strong><i class="bi bi-eye" style="font-size: 20px; margin-left: 10px;"></i></a>
                        <a href="{% url 'edit_product' p.pk %}" class="button is-hoverable is-responsive is-small is-warning is-rounded card-footer-item" style="margin-left: 10px;"><strong>Edit</strong> <i class="bi bi-pen-fill" style="font-size: 20px; margin-left: 10px;"></i></a>
                        <a href="{% url 'delete_product' p.pk %}" class="button is-hoverable is-responsive is-small is-danger is-rounded card-footer-item" style="margin-left: 10px;"><strong>Delete</strong> <i class="bi bi-trash-fill" style="font-size: 20px; margin-left: 10px;"></i></a>
                    {% else %}
                        <a href="{% url 'view_product' p.category.slug p.slug %}" class="button is-hoverable is-info is-responsive is-small is-rounded card-footer-item" style="margin-left: 10px;"><strong>View</strong><i class="bi bi-eye" style="font-size: 20px; margin-left: 10px;"></i></a>
                    {% endif %}
                </footer>
            </div>
        </div>
    {% endfor %}
</div>