/* makes the helper text small and grey so less distracting for the user */
form .helptext {
    font-size: 15px;
    color: #ccc;
}

/* removed standard django messages (except errors) from form  */
form ul:not(.errorlist) {
    display: none;
}

/* centres and styles the newsletter wrapper */
.newsletter-wrapper {
    padding: 50px 20px;
    text-align: center;
    background: #f1f1f1;
}

/* styles the notifications with the newsletter */
.newsletter-wrapper .notification {
    margin-top: 20px;
}

/* centres the newsletter fields */
.newsletter-wrapper .field.has-addons {
    justify-content: center;
}

/* styles the notifications */
.notification.space-below {
    margin-bottom: 20px;
}

/* set card heights to 30%*/
.card .card-image,
.card .card-image .image{
    height: 60%
}
