<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Template title -->
{% block title%} Add Product {% endblock %}

<!-- Template content -->
{% block content %}
    {% if user.is_superuser %}
        <!-- line break -->
        <br><br><br><br>
        <!-- page header -->
        <h1 id="heading">Add Product </h1>
         <!-- line break -->
        <br/>
        <div class="form-group">
            <!-- form data is posted and allows images to be inserted by the user -->
            <form method="POST" action="{% url 'product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <button class=" button is-info is-rounded is-danger is-hoverable" style="font-size: 20px; margin-right: 10px;"><i class="bi bi-check-circle-fill"></i> Add Product </button>
                <!-- line break -->
                <br><br><br><br>
        </div>
    {% else %}
        <br><br>
        <!-- User is told why they cant leave a comment -->
        <h2 id="heading"> You must <a href="{% url 'login' %}">login</a> as a superuser to add a product </h2>

        <!-- div makes it easier to style icon -->
        <div class="stop">
            <!-- boostrap stop icon -->
            <i class="bi bi-slash-circle-fill"></i>
        </div>
        <br><br>
    {% endif %}
{% endblock  %}