<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Template title -->
{% block title%} Edit Post {% endblock %}

<!-- Template content -->
{% block content %}
<br/>
    {% if user.is_authenticated %}
        {% if user.id == productreview.author.id%}
            <!-- boostrap card -->
            <div class="card">
                <!-- boostrap card body -->
                <div class="card-body">
                    <!-- page header -->
                    <h1 class="card-title" id="heading">Edit {{ productreview.content|safe}} </h1>
                    <!-- line break -->
                    <br/>
                    <!-- horizontal line -->
                    <hr>
                    <!-- line break -->
                    <br/>
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <button class=" button is-rounded is-warning is-hoverable" style="font-size: 20px; margin-left: 10px;"><i class="bi bi-pencil-fill"></i> Edit</button>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- The user id is displayed, to make it clear which account they are using for users with multiple accounts -->
            <h2 id="heading"> You are logged in as {{ user.username|title}}</h2> 
             <!-- div makes it easier to style icon -->
            <div class="stop">
                <!-- boostrap stop icon -->
                <i class="bi bi-slash-circle-fill"></i>
            </div>
            <!-- line break -->
            <br><br><br>
            <!-- User is told why they cant access the edit page -->
            <p id="heading"> Only the author can edit this review, if you are the author please <a href="{% url 'login' %}">login</a> and try again</p>
        {% endif %}
            <!-- line break -->
            <br><br><br>
    {% else %}
        <br><br>
        <!-- User is told why they cant access the edit page -->
        <h2 id="heading"> You must <a href="{% url 'login' %}">login</a> to edit your review</h2>

         <!-- div makes it easier to style icon -->
         <div class="stop">
            <!-- boostrap stop icon -->
            <i class="bi bi-slash-circle-fill"></i>
        </div>
        <br><br>
        <!-- Sign up link-->
        <p id="heading"> <strong>If you don't have an account <a href="{% url 'sign_up' %}">sign up</a></strong></p>
        <!-- line break -->
        <br><br>
            
    {% endif %}
{% endblock %}