<!-- Extends the base template -->
{% extends 'base.html' %}
 
<!-- Template title -->
{% block title%} {{product.title}} {% endblock %}
 
<!-- Template content -->
{% block content %}
   <div id="productsapp">
      <!-- displays product images -->
      <img src="/media/images/{{product.image }}" alt="product image">
      <!-- displays product title -->
      <h1 class="title">{{product.title}}</h1>
      <!-- displays product price -->
      <p class="subtitle"> £ {{ product.price}}</p>

      <!-- if the product has a description -->
      {% if product.description %}
         <!-- displays product description -->
         <p class>{{product.description}}</p>
      {% endif %}

      <button @click="addToCart({{ product.id }})">Add to cart</button>
   </div>
{% endblock %}

<!-- java script -->
{% block scripts %}
<script>
// creates vue app
   var productsapp = new Vue({
      el: '#productsapp',
      delimiters: ['[[',']]'],
      store: store,
      data () {
         return {

         }
      },

      mounted() {
            console.log('Mounted');
      },

      // product id is sent to api and added to cart or an error is displayed
      methods: {
         addToCart(product_id) {
            console.log('Product_id:', product_id)

            var data = {'product_id': product_id, 'update': false, 'quantity': 1}
            fetch('/api/add_to_cart/', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken':'{{ csrf_token}}'
               },
               credentials: 'same-origin',
               body: JSON.stringify(data)
            })
            .then((response) =>{
               console.log(response)
               // increase number of item in cart
               store.commit('increase', 1);
            })
            .catch(function (error){
               console.log('Error 2');
               console.log(error);
            })
         }
      }
   });
</script>
{% endblock %}