<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <title>Page Not Found (404)</title>
        <br>
        <h1 style="text-align: center;"><strong>Page Not Found (404)</strong></h1>
        <br>
        <h1 style="text-align: center;">The page you are trying to reach was not found, please try again !</h1>
        <br>
        <center><i class="bi bi-exclamation-circle-fill" style="font-size:300px;color:rgb(255, 204, 101);"></i></center>
    </body>
</html>


