<!-- Extends the base template -->
{% extends 'base.html' %}
 
<!-- Template title -->
{% block title%} About us {% endblock %}
 
<!-- Template content -->
{% block content %}
<h1 class="title"> About Us</h1>

The is the home of all sports related goods. We aim to delivery the best quality goods to support athelets at all stages. If there is anything that you would like for us to add to our store just <a href="{% url 'contact' %}">contact us</a> and let us know, we are always happy to hear from our customers.
<br>
Be sure to sign up to our newsletter to keep up to date with the latest news and recieve regular discounts for being a valued memeber of our community. 

{% endblock %}