{% extends 'base.html' %}

{% block content %}
<!-- login form -->
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title">Log in</h1>
        <form method="POST" action=".">
            {% csrf_token %}

            <!-- unauthorised user is redirected to this page when they try acess a page that requires authorisation -->
            <input type="hidden" name="next" value="{{ next }}">

            <!-- user is notified if there is an error when logging in -->
            {% if form.errors %}
                <div class="notification is-danger">
                    Your username and password do not match, please try again
                </div>
            {% endif %}

            <div class="field">
                <label>Username</label>

                <div class="control">
                    <input type="text" class="input" name="username" id="id_username">
                </div>
            </div>

            <div class="field">
                <label>Password</label>

                <div clas="control">
                    <input type="password" class="input" name="password" id="id_password">
                </div>
            </div>
            
            <!-- login button -->
            <div class="field">
                <div class="control">
                    <button class="button is-success">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}