{% extends 'base.html' %}

{% block content %}

<!-- signup form  -->
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title">Sign up</h1>
        <form method="POST" action=".">
            {% csrf_token %}
            <!-- loads django form -->
            {{ form.as_p }}

            <!-- loads user profile form -->
            {{ userprofileform.as_p }}
            <br>
            <div class="field">
                <div class="control">
                    <!-- signup button -->
                    <button class="button is-success">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}