{% extends 'base.html' %}
 
<!-- Template title -->
{% block title %} Checkout {% endblock %}
 
<!-- Template content -->
{% block content %}
   <div id="cartapp">
      <!-- shows cart items or empty cart message -->
         <h1 class="title"> Checkout </h1>
          <!-- when an item is in the cart -->
         {% if cart %}
            <!-- table to display cart information -->
            <div v-if="products.length > 0">
               <div class="table">
                  <table class="table is-fullwidth is-striped">
                     <!-- table headers -->
                     <thead>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price </th>
                        <th></th>
                     </thead>

                     <tbody>
                        <!-- the product information is shown in the table -->
                        <tr v-for="product in products">
                           <td>
                              <figure class="image is-48x48">
                                 <img :src="product.thumbnail">
                              </figure>
                           </td>
                           <td>
                              <a :href="product.url">
                                 [[ product.title ]]
                              </a>
                           </td>
                           <td><button @click="decreaseQuantity(product.id, product.quantity, product.price)"><i class="bi bi-dash-circle-fill" style="font-size:15px;color:rgb(255, 0, 0);"></i></button> [[ product.quantity ]] <button @click="increaseQuantity(product.id, product.quantity, product.price)"><i class="bi bi-plus-circle-fill" style="font-size:15px;color:rgb(63, 217, 28);"></i></button></td>
                           <td> £ [[ product.total ]] </td>
                           <td><button @click="deleteFromCart(product.id)" class="button is-danger is-rounded">Remove <i class="bi bi-trash3-fill"></i></button></td>
                        </tr>
                     </tbody>

                     <tfoot>
                        <tr>
                           <td> 
                                 <td> Total: </td>
                                 <!-- total number of items -->
                                 <td> [[ numItems ]]</td>
                                 <!-- total cost-->
                                 <td> £ [[ totalCost.toFixed(2) ]]</td>
                           </td>
                        </tr>

                        <!-- total cost with coupon -->
                        <tr v-if="coupon_value">
                           <td colspan="3">Total cost with coupon:</td>
                           <td> £ [[ totalCostWithCoupon.toFixed(2) ]]</td>
                        </tr>
                     </tfoot>
                  </table>

                  <hr>

                  <!-- code value hidden from th user -->
                  <input type="hidden" v-model="coupon_value">

                  <!-- input box for coupon code -->
                  <h2 class="subtitle">Coupon code</h2>

                  <!-- Coupon Value -->
                  <div class="field has-addons">
                     <div class="control">
                         <input type="text" v-model="coupon_code" class="input">
                     </div>

                     <!-- button to apply coupon -->
                     <div class="control">
                         <button @click="applyCoupon()" class="button is-success">Apply</button>
                     </div>
                 </div>

                 <!-- error message for invalid coupon code -->
                 <div class="notification is-warning" v-if="showCouponCodeError">
                     <p>This coupon code is not valid!</p>
                 </div>

                  <hr>
               </div>

               {% if not request.user.is_authenticated %}
                    <p>Continue as guest or <a href="{% url 'login' %}">log in</a> / <a href="{% url 'signup' %}">sign up</a>.</p>

                    <hr>
               {% endif %}
               <form v-on:submit.prevent="buy()">
                  <!-- contact information section of the checkout -->
                  <h2 class="title">Contact information</h2>

                  <div class="columns">
                     <div class="column is-6">
                        <!-- form fields -->
                        <div class="field">
                           <!-- first name input field -->
                           <label>First name</label>
   
                           <div class="control">
                                 <input class="input" type="text" name="first_name" v-model="first_name">
                           </div>
                        </div>
                        <!-- last name input field -->
                        <div class="field">
                           <label>Last name</label>
   
                           <div class="control">
                                 <input class="input" type="text" name="last_name" v-model="last_name">
                           </div>
                        </div>
                        <!-- email input field -->
                        <div class="field">
                           <label>E-mail</label>

                           <div class="control">
                                 <input class="input" type="text" name="email" v-model="email">
                           </div>
                        </div>
                        <!-- phone input field -->
                        <div class="field">
                           <label>Phone</label>

                           <div class="control">
                                 <input class="input" type="text" name="phone" v-model="phone">
                           </div>
                        </div>
                     </div>

                     <!-- address input field -->
                     <div class="column is-6">
                        <div class="field">
                           <label>Address</label>
   
                           <div class="control">
                                 <input class="input" type="text" name="address" v-model="address">
                           </div>
                        </div>
                        
                        <!-- postcode input field  -->
                        <div class="field">
                           <label>Postcode</label>
   
                           <div class="control">
                                 <input class="input" type="text" name="postcode" v-model="postcode">
                           </div>
                        </div>

                        <!-- city input field  -->
                        <div class="field">
                           <label>city</label>
   
                           <div class="control">
                              <input class="input" type="text" name="city" v-model="city">
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <!-- checkout button -->
                  <div class="field">
                     <div class="control">
                        <!-- stripe checkout -->
                        <button class="button is-primary">Pay with stripe</button>
                     </div>
                  </div>
               </form>
            </div>
            <!-- when no products are in the cart the empty card message shows -->
            <p v-else>Your cart is empty !</p>
         {% else %}
            <p> Your cart is empty !</p>
         {% endif %}

         <!-- line break -->
         <br>

         <!-- error messages is displayed for each field -->
         <div v-if="errors.length > 0">
            <article class="message is-danger" v-for="error in errors">
                <div class="message-header">
                    <p>Error</p>
                </div>
                <div class="message-body">
                    [[ error ]]
                </div>
            </article>
        </div>
         
         <!-- line break -->
         <br>
   </div>
{% endblock %}


{% block scripts %}
<!-- link for stripe -->
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>

<!-- creates vue app -->
<script>
   var productsapp = new Vue({
      el: '#cartapp',
      delimiters: ['[[',']]'],
      store: store,
      data () {
         return {
            errors: [],
            first_name: '{{first_name}}',
            last_name: '{{last_name}}',
            email: '{{email}}',
            address: '{{ address }}',
            postcode: '{{ postcode }}',
            city: '{{ city }}',
            phone: '{{ phone }}',
            products: [{{productsstring|safe}}],
            coupon_value: 0,
            coupon_code: '',
            showCouponCodeError: false
         }
      },

      // calculates number of items and total costs
      computed:{
         numItems: function() {
            return store.state.numItems
         },
         totalCost: function() {
            return store.state.totalCost
         },

         totalCostWithCoupon: function() {
            if (this.coupon_value > 0) {
               coupon = store.state.totalCost * (parseInt(this.coupon_value) / 100)
               return store.state.totalCost - coupon;
            } else {
               return store.state.totalCost;
            }
         }
      },
      
      methods: {
         // fucntion to apply the coupon
         applyCoupon() {
            // if a code is entered the code is fetched by the coupon api
            if (this.coupon_code !== '') {
               fetch('/api/valid_coupon/?coupon_code=' + this.coupon_code, {
                   method: 'GET'
               })
               //  then a json response is returned
               .then((response) => {
                  return response.json();
               })
               //  if the coupon has a value then it is applied
               .then((data) => {
                  if (data.amount) {
                     this.showCouponCodeError = false
                     this.coupon_value = parseInt(data.amount)
                  // if not the coupon error message is displayed
                  } else {
                     this.coupon_value = 0
                     this.showCouponCodeError = true
                  }
               });
            // if an invalid code is entered then the erorr messsage is displayed
            } else {
               this.showCouponCodeError = true
            }
         },
         buy() {

            // checkout form data
            var data = {
               'first_name': this.first_name,
               'last_name': this.last_name,
               'email': this.email,
               'address': this.address,
               'postcode': this.postcode,
               'city': this.city,
               'phone': this.phone,
               'coupon_code': this.coupon_code
            };

            console.log('data:',data)
            // clears all error messages
            this.errors = [];

            // error messages for each field
            if (data.first_name === '' ){
               this.errors.push('Enter your first name');
            }

            if (data.last_name === '' ){
               this.errors.push('Enter your last name');
            }

            if (data.email === '' ){
               this.errors.push('Enter your email');
            }

            if (data.address === '' ){
               this.errors.push('Enter your address');
            }

            if (data.postcode === '' ){
               this.errors.push('Enter your postcode');
            }

            if (data.city === '' ){
               this.errors.push('Enter your city');
            }

            if (data.phone === '') {
                    this.errors.push('Enter your phone number');
            }
            
            // if the form is valid
            if (this.errors.length === 0){

               // stripe public key
               var stripe = Stripe('{{ public }}');

               // fetch checkout session API
               fetch('/api/checkout_session/', {
                  method: 'POST',
                  headers: {
                     'Content-Type': 'application/json',
                     'X-CSRFToken': '{{ csrf_token }}'
                  },
                  credentials: 'same-origin',
                  body: JSON.stringify(data)
               })

               // checkout session api data is returned
               .then(function(response) {
                  console.log(response)
                  return response.json()
               })
               // function to redirect to stripe checkout
               .then(function(session) {
                  console.log(session)
                  return stripe.redirectToCheckout({ sessionId: session.session.id })
               })
               // if the redirect fails due to a browser or netwrok error the user is notified.
               .then(function(result) {
                  console.log(result)
                  if (result.error) {
                     alert(result.error.messsage)
                  }
               })       
               .catch(function(error) {
                  console.log('Error:', error);
               });
            }
         },

         // fucntion to increase cart quantity
         increaseQuantity(product_id, quantity, price) {
               console.log('Product_id:', product_id);

               for (var i = 0; i < this.products.length; i++){
                  var product = this.products[i];

                  if (product.id === product_id){
                     // when quantity is less than the number of items available then the cart is updated
                     if (quantity < product.num_available) {
                           var data = {
                                'product_id': product_id, 
                                'update': true,
                                'quantity': parseInt(quantity) + 1
                           };
                           
                           store.commit('increase', 1);
                           store.commit('UpdateTotal', parseFloat(price));
                           
                           // add to cart api is fetched to update cart data
                           fetch('/api/add_to_cart/', {
                              method: 'POST',
                              headers: {
                                 'Content-Type': 'application/json',
                                 'X-CSRFToken': '{{ csrf_token }}'
                              },
                              credentials: 'same-origin',
                              body: JSON.stringify(data)
                           })
                           
                           .then((response) =>{
                              console.log(response)
                              
                              for (var i = 0; i < this.products.length; i++){
                                 var product = this.products[i];

                                 if (product.id === product_id){
                                    // auto updates quantity
                                    this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                                    
                                    // auto updates prices
                                    this.products[i].total = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                                 }
                              }
                           })
                           .catch(function (error){
                              console.log('Error 1');
                              console.log(error);
                           })

                     } else{
                        alert('No more items in stock!');
                     }
                  } 
               }
         },

         // decrease quantity for items in the cart
         decreaseQuantity(product_id, quantity, price) {
               console.log('Product_id:', product_id);

               var data = {
                  'product_id': product_id, 
                  'update': true, 
                  'quantity': parseInt(quantity)- 1
               };

               // if quanity is zero, item is removed from basket
               if (parseInt(quantity) - 1 === 0) {
                  this.deleteFromCart(product_id);
               } else {

                  store.commit('increase', -1);
                  store.commit('UpdateTotal', -parseFloat(price));
            
                  fetch('/api/add_to_cart/', {
                     method: 'POST',
                     headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                     },
                     credentials: 'same-origin',
                     body: JSON.stringify(data)
                  })
                  .then((response) =>{
                     console.log(response)

                     for (var i = 0; i < this.products.length; i++){
                        var product = this.products[i];

                        if (product.id === product_id){
                           // auto updates quantity
                           this.products[i].quantity = parseInt(this.products[i].quantity) - 1;
                           
                           // auto updates prices
                           this.products[i].total = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                        }
                     }
                  })
                  .catch(function (error){
                     console.log('Error 1');
                     console.log(error);
                  })
               }
            },

            // product id is sent to api and this data is fetched from the api, the product is then removed from cart or an error is displayed
            deleteFromCart(product_id){
               console.log('Remove product_id:', product_id);

               var data = {'product_id': product_id, 'update': false, 'quantity': 1};

               fetch('/api/delete_from_cart/', {
                  method: 'POST',
                  headers: {
                     'Content-Type': 'application/json',
                     'X-CSRFToken':'{{ csrf_token}}'
                  },
                  credentials: 'same-origin',
                  body: JSON.stringify(data)
               })
               .then((response) =>{
                  console.log(response)

                  this.products = this.products.filter(product => product.id !== product_id)
               })
               .catch(function (error){
                  console.log('Error 2');
                  console.log(error);
               })
            }
      }
   });
</script>
{% endblock %}