{% extends 'base.html' %}
 
<!-- Template title -->
{% block title %} Checkout {% endblock %}
 
<!-- Template content -->
{% block content %}
   <div id="cartapp">
      <!-- shows cart items or empty cart message -->
         <h1 class="title"> Checkout </h1>
         {% if cart_details %}
            <!-- table to display cart information -->
            <div class="table">
               <table class="table">
                  <!-- table headers -->
                  <thead>
                     <th>Product</th>
                     <th>Quantity</th>
                     <th>Price </th>
                     <th></th>
                  </thead>
                  <tbody>
                     <!-- when an item is in the cart -->
                     {% for item in cart_details %}
                        {% with product=item.product %}
                           <br>
                           <tr>
                              <!-- the product information is shown in the table -->
                              <td>{{ product.title }}</td>
                              <td>{{ item.quantity }} <button @click="increaseQuantity({{product.id}})"> + </button></td>
                              <td>{{ item.price }}</td>
                              <td><button @click="deleteFromCart({{product.id}})">Remove</button></td>
                           </tr>                           
                           <br>
                        {% endwith %}
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         {% else %}
            <p> Your cart is empty !</p>
         {% endif %}
   </div>
{% endblock %}

<!-- creates vue app -->
{% block scripts %}
<script>
   var productsapp = new Vue({
      el: '#cartapp',
      delimeters: ['[[',']]'],
      data () {
         return {

         }
      },

      mounted() {
            console.log('Mounted');
      },

      // product id is sent to api and this data is fetched to display the is increased quantity in the cart or an error is displayed
      methods: {
         increaseQuantity(product_id) {

            var data = {'product_id': product_id, 'update': false, 'quantity': 1}
            fetch('/api/increase_quantity/', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken':'{{ csrf_token}}'
               },
               credentials: 'same-origin',
               body: JSON.stringify(data)
            })
            .then((response) =>{
               console.log(response)
            })
            .catch(function (error){
               console.log('Error 1');
               console.log(error);
            })

         },
         
         // product id is sent to api and this data is fetched from the api, the product is then removed from cart or an error is displayed
         deleteFromCart(product_id) {
            console.log('Remove product_id:', product_id)

         
            var data = {'product_id': product_id, 'update': false, 'quantity': 1}
            fetch('/api/delete_from_cart/', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken':'{{ csrf_token}}'
               },
               credentials: 'same-origin',
               body: JSON.stringify(data)
            })
            .then((response) =>{
               console.log(response)
            })
            .catch(function (error){
               console.log('Error 2');
               console.log(error);
            })
         }
      }
   });
</script>
{% endblock %}